<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>范学彬的代码生成器</title>
  <!-- 导入样式 -->
  <link rel="stylesheet" href="lib/elment.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="lib/axios.js"></script>
  <script src="js/api.js"></script>
  <script src="lib/vue.js"></script>
  <script src="lib/vue-router.js"></script>
  <script src="lib/elment-ui.js"></script>
  <script src="js/utils.js"></script>
</head>
<body  style="overflow: hidden;">
<div id="app">
  <div id="box">
    <div class="nav">
      <ul>
        <li>
          <a href="/#a.html">主页</a>
        </li>
        <li>
          <a href="/#b.html">a</a>
        </li>
      </ul>
    </div>
  </div>
  <iframe scrolling="yes" frameborder="0" width="100%" id="iframeId" :src="menu.path"></iframe>
</div>
<script src="js/index.js"></script>
</body>
<script>
  var ifm = document.getElementById("iframeId");
  ifm.height = document.documentElement.clientHeight - 120;
</script>
</html>
